.home {
    &-title {
        font-size: 32px;
        color: #fff;
        margin: 0 0 8px;
    }

    &-subtitle {
        font-size: 22px;
        color: #868686;
    }

    &-explore {
        margin: 0 0 42px;

        &-intro {
            margin: 0 0 24px;
        }

        &-banner {
            position: relative;
            margin: 0 -20px;

            @media(min-width: 1200px) {
                width: 100%;
            }

            .imagem {
                height: 200px;
                margin: 0 0 24px;
                position: relative;
                overflow: hidden;

                @media (min-width: 768px) {
                    border-radius: 12px;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #0F1E29 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                @media(min-width: 1200px) {
                    height: 400px;
                    margin: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .infos {
                color: #fff;
                padding: 0 20px;
                max-height: 180px;
                margin: 0 0 40px;


                @media(min-width: 1200px) {
                    max-width: 590px;
                    position: absolute;
                    left: 47px;
                    bottom: 39px;
                    padding: initial;
                    margin: initial;
                }

                h3 {
                    font-size: 2em;
                    margin: 0 0 16px;
                    max-height: 64px;
                    overflow: hidden;

                    @media(min-width: 768px) {
                        max-height: initial;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 25px;
                    font-weight: 300;
                    max-height: 100px;
                    overflow: hidden;
                }
            }
        }
    }

    &-season {
        margin: 0 0 42px;

        &:last-child {
            margin: 0;
        }

        &-list {

            .swiper {
                margin: 0 -20px 0 0;

                @media (min-width: 768px) {
                    margin: initial;
                }
            }

            .card-link {
                color: #fff;
            }

            .card-content {
                display: flex;
                justify-content: center;
                width: 190px;
                text-align: center;
                position: relative;

                @media (min-width: 768px) {
                    width: 170px;
                }
            }

            .image {
                height: 284px;
                border-radius: 12px;
                overflow: hidden;
                position: relative;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #0F1E29 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                bottom: 15px;
                font-size: 16px;
                font-weight: 300;

                span {
                    font-size: 12px;
                }
            }
        }

        &-mais {
            display: flex;
            justify-content: flex-end;

            a {
                color: #fff;
                padding: 10px 30px;
                margin: 20px 0 0;
                border: 1px solid #fff;
                border-radius: 12px;
            }
        }
    }

}